:root {
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-accent-200: #a9f0e2;
  --color-accent-300: #88ebdf;
  --color-accent-400: #0fc5b0;
  --color-accent-500: #00937e;
  --color-accent-600: #0a4039;
  --color-primary: #1d1e20;
  --color-secondary-200: #434956;
  --color-secondary-300: #272a2e;
  --color-secondary-400: #222529;
  --color-secondary-500: #1d1e20;
  --color-bg-light: #f8f8f8;
  --clr-error: #ffe165;
  --hamburger-color: var(--color-primary);
  --ff-secondary: "Ubuntu", sans-serif;
  --ff-body: "OpenSans", sans-serif;
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7759rem + 0.0268vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9196rem + 0.0893vw, 1rem);
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2893rem + 0.3036vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5248rem + 0.4759vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8019rem + 0.7106vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1274rem + 1.0271vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5093rem + 1.4505vw, 3.8147rem);
  --space-3xs: clamp(0.3125rem, 0.2917rem + 0.1042vi, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5208rem + 0.2083vi, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8125rem + 0.3125vi, 1.0625rem);
  --space-s: clamp(1.125rem, 1.0417rem + 0.4167vi, 1.375rem);
  --space-m: clamp(1.6875rem, 1.5625rem + 0.625vi, 2.0625rem);
  --space-l: clamp(2.25rem, 2.0833rem + 0.8333vi, 2.75rem);
  --space-xl: clamp(3.375rem, 3.125rem + 1.25vi, 4.125rem);
  --space-2xl: clamp(4.5rem, 4.1667rem + 1.6667vi, 5.5rem);
  --space-3xl: clamp(6.75rem, 6.25rem + 2.5vi, 8.25rem);
  --fluid-18-80: clamp(1.125rem, -0.1667rem + 6.4583vi, 5rem);
  --fluid-0-18: clamp(0rem, -0.3913rem + 1.9565vi, 1.125rem);
  /* one-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1875rem + 0.625vi, 0.6875rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3958rem + 0.8333vi, 1.0625rem);
  --space-xs-s: clamp(0.875rem, 0.7083rem + 0.8333vi, 1.375rem);
  --space-s-m: clamp(1.125rem, 0.8125rem + 1.5625vi, 2.0625rem);
  --space-m-l: clamp(1.6875rem, 1.3333rem + 1.7708vi, 2.75rem);
  --space-l-xl: clamp(2.25rem, 1.625rem + 3.125vi, 4.125rem);
  --space-xl-2xl: clamp(3.375rem, 2.6667rem + 3.5417vi, 5.5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.25rem + 6.25vi, 8.25rem);
  --space-3xl-4xl: clamp(7.5rem, 6.4565rem + 5.2174vi, 10.5rem);
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
  --border-radius-xxl: 3rem;
  --input-background: var(--color-white-30);
  --input-focus: var(--color-white-80);
  --shadow-color: 0deg 0% 61%;
  --shadow-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.wrapper {
  margin-inline: auto;
  max-width: 80rem;
  padding: var(--space-xl) var(--fluid-18-80);
  border-radius: var(--border-radius-xl);
}

.wrapper-np {
  margin-inline: auto;
  max-width: 80rem;
  border-radius: var(--border-radius-xl);
}

.wrapper-sm {
  max-width: 80rem;
  margin-inline: auto;
}

.wrapper-80 {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: var(--fluid-18-80);
}

.wrapper-65 {
  margin-inline: auto;
  max-width: 65rem;
  padding-inline: var(--fluid-18-80);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.align-start {
  align-items: start;
}

.d-block {
  display: block;
}

.centred {
  margin-inline: auto;
}

.space-xs {
  margin-top: var(--space-xs);
}

.space-s {
  margin-top: var(--space-s);
}

.space-m {
  margin-top: var(--space-m);
}

.space-l {
  margin-top: var(--space-l);
}

.space-xl {
  margin-top: var(--space-xl);
}

.space-l-xl {
  margin-top: var(--space-l-xl);
}

.space-xl-2xl {
  margin-top: var(--space-xl-2xl);
}

.space-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
}

.padding-btm-2xl {
  padding-bottom: var(--space-2xl);
}

.padding-block-m {
  padding-block: var(--space-m);
}

.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.underline {
  border-bottom: 0.5rem solid var(--color-underline);
}

.large {
  font-size: var(--step-1);
  font-weight: 700;
  max-width: 35ch;
}

.huge-5 {
  font-size: var(--step-5);
}

.white {
  color: var(--color-primary);
}

.font-xs-step-2 {
  font-size: var(--step--2);
}

.h2 {
  font-size: var(--step-4);
}

.h3 {
  font-size: var(--step-2);
}

.h4 {
  font-size: var(--step-1);
}

.border-radius-sm {
  border-radius: var(--border-radius-sm);
}

.border-radius-md {
  border-radius: var(--border-radius-md);
}

.border-radius-lg {
  border-radius: var(--border-radius-lg);
}

.border-radius-xl {
  border-radius: var(--border-radius-xl);
}

.border-radius-xxl {
  border-radius: 3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements  */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* give svg's that don't have width or height set a default size */
svg:not([width]):not([height]) {
  height: 1.5ex;
  width: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Where it has a class of btn remove default button styles  */
button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  button.btn {
    border: 2px solid currentcolor;
  }
}

h3,
h2 {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding-bottom: 0.4em;
}

.testimonial_author {
  position: relative;
  padding-bottom: 0.2em;
}

h2:not(.h3, .project-detail__h2)::after,
h3:not(.services-h3)::after,
.testimonial_author::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.3rem;
  background: var(--color-accent-400);
}

.title-small {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.title-small:not(.project-detail__url):before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: var(--color-accent-400);
  margin-right: 0.5em;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url("/assets/fonts/variable/OpenSans-VariableFont_wght.woff2") format("woff2");
  font-variation-settings: "wght" 400 600 700;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/static/Ubuntu-700.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/static/Ubuntu-300.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  background: var(--color-secondary-400);
  color: var(--color-primary);
}

main,
header,
footer {
  padding-inline: var(--space-s);
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-2);
}

p {
  max-width: 70ch;
  color: var(--color-primary);
}

a {
  color: var(--color-accent-500);
  text-decoration: none;
  font-weight: 600;
}

fieldset {
  border: none;
}

#main-content.opacity-01 {
  opacity: 0.01;
}

.no-scroll {
  overflow: hidden;
}

::selection {
  background: var(--color-accent-300);
  color: var(--color-secondary-500);
}

.title-small {
  font-size: var(--step--1);
  text-transform: uppercase;
}

@media (max-width: 600px) {
  header,
  main,
  footer {
    padding-inline: 0;
  }
}/*# sourceMappingURL=global.css.map */