h3,
h2 {
  position: relative;
  display: inline-block;
  z-index: 2;
}

h2,
h3 {
  padding-bottom: 0.3em;
}

h2:not(.h3, .client-detail__h2)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.4rem;
  background: var(--color-accent-400);
}

h3:not(.services-h3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.2rem;
  background: var(--color-accent-400);
  z-index: -1;
}

.title-small {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.title-small:not(.client-detail__url):before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: var(--color-accent-400);
  margin-right: 0.5em;
}
