// Path: src/styles/_utilities.scss

/////  utility classes /////

// Layout //

.wrapper {
  margin-inline: auto;
  max-width: 80rem;
  padding: var(--space-xl) var(--fluid-18-80);
  border-radius: var(--border-radius-xl);
}

.wrapper-np {
  margin-inline: auto;
  max-width: 80rem;
  border-radius: var(--border-radius-xl);
}

.wrapper-sm {
  max-width: 80rem;
  margin-inline: auto;
}

.wrapper-80 {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: var(--fluid-18-80);
}

.wrapper-65 {
  margin-inline: auto;
  max-width: 65rem;
  padding-inline: var(--fluid-18-80);
}

// flow space //
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

// FLEX //

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

// GRID //

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.align-start {
  align-items: start;
}

//

.d-block {
  display: block;
}

.centred {
  margin-inline: auto;
}

// margins //

.space-xs {
  margin-top: var(--space-xs);
}

.space-s {
  margin-top: var(--space-s);
}

.space-m {
  margin-top: var(--space-m);
}

.space-l {
  margin-top: var(--space-l);
}

.space-xl {
  margin-top: var(--space-xl);
}

.space-l-xl {
  margin-top: var(--space-l-xl);
}

.space-xl-2xl {
  margin-top: var(--space-xl-2xl);
}

.space-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
}

// Padding //

.padding-btm-2xl {
  padding-bottom: var(--space-2xl);
}

.padding-block-m {
  padding-block: var(--space-m);
}

/////  Text ////

.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.underline {
  border-bottom: 0.5rem solid var(--color-underline);
}

.large {
  font-size: var(--step-1);
  font-weight: 700;
  max-width: 35ch;
}

.huge-5 {
  font-size: var(--step-5);
}

.white {
  color: var(--color-primary);
}

// Font Sizes //

.font-xs-step-2 {
  font-size: var(--step--2);
}

.h2 {
  font-size: var(--step-4);
}

.h3 {
  font-size: var(--step-2);
}

.h4 {
  font-size: var(--step-1);
}

// Border Radius //
.border-radius-sm {
  border-radius: var(--border-radius-sm); // 4
}

.border-radius-md {
  border-radius: var(--border-radius-md); // 8
}

.border-radius-lg {
  border-radius: var(--border-radius-lg); // 16
}

.border-radius-xl {
  border-radius: var(--border-radius-xl); // 32
}

.border-radius-xxl {
  border-radius: 3rem; // 48
}
