// Path: src/styles/_utilities.scss

/////  utility classes /////

// Layout //

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-end {
  align-self: flex-end;
}

.container {
  margin-inline: auto;
  max-width: 65rem;
  padding-inline: var(--space-s-m);
}

.d-block {
  display: block;
}

.centred {
  margin-inline: auto;
}

// margins //

.space-xs {
  margin-top: var(--space-xs);
}

.space-s {
  margin-top: var(--space-s);
}

.space-m {
  margin-top: var(--space-m);
}

.space-l {
  margin-top: var(--space-l);
}

.space-xl {
  margin-top: var(--space-xl);
}

.space-l-2xl {
  margin-top: var(--space-l-2xl);
}

.space-xl-2xl {
  margin-top: var(--space-xl-2xl);
}

// Padding //

.padding-btm-2xl {
  padding-bottom: var(--space-2xl);
}

/////  Text ////

.uppercase {
  text-transform: uppercase;
}

.inline-b {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.underline {
  border-bottom: 0.5rem solid var(--clr-underline);
}

// Font Sizes //

.font-xs-step-2 {
  font-size: var(--step--2);
}

// Border Radius //
.border-radius-2 {
  border-radius: var(--border-radius-2);
}

.font-m-step-1 {
  font-size: var(--step-1);
}

///// Colors /////

.dark-grey {
  color: var(--clr-dark-purple-grey);
}

//  Decoration //

.divider {
  border-bottom: 2px solid var(--clr-lilac);
}
