:root {
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-accent-300: #a9f0e2;
  --color-accent-400: #0fc5b0;
  --color-accent-500: #00937e;
  --color-accent-600: #0a4039;
  --color-primary: #1d1e20;
  --color-secondary-200: #434956;
  --color-secondary-300: #272a2e;
  --color-secondary-400: #222529;
  --color-secondary-500: #1d1e20;
  --color-bg-light: #f8f8f8;
  --clr-error: #ffe165;

  // font - family
  --ff-secondary: "Ubuntu", sans-serif;
  --ff-body: "OpenSans", sans-serif;

  //  font sizes
  --step--2: clamp(0.7813rem, 0.7483rem + 0.1646vi, 0.88rem);
  --step--1: clamp(0.9375rem, 0.8833rem + 0.2708vi, 1.1rem);
  --step-0: clamp(1.125rem, 1.0417rem + 0.4167vi, 1.375rem);
  --step-1: clamp(1.35rem, 1.2271rem + 0.6146vi, 1.7188rem);
  --step-2: clamp(1.62rem, 1.4439rem + 0.8807vi, 2.1484rem);
  --step-3: clamp(1.944rem, 1.6968rem + 1.2359vi, 2.6855rem);
  --step-4: clamp(2.3328rem, 1.9914rem + 1.7069vi, 3.3569rem);
  --step-5: clamp(2.7994rem, 2.3338rem + 2.328vi, 4.1962rem);
  --step-xl: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);

  // spaces
  --space-3xs: clamp(0.3125rem, 0.2917rem + 0.1042vi, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5208rem + 0.2083vi, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8125rem + 0.3125vi, 1.0625rem);
  --space-s: clamp(1.125rem, 1.0417rem + 0.4167vi, 1.375rem);
  --space-m: clamp(1.6875rem, 1.5625rem + 0.625vi, 2.0625rem);
  --space-l: clamp(2.25rem, 2.0833rem + 0.8333vi, 2.75rem);
  --space-xl: clamp(3.375rem, 3.125rem + 1.25vi, 4.125rem);
  --space-2xl: clamp(4.5rem, 4.1667rem + 1.6667vi, 5.5rem);
  --space-3xl: clamp(6.75rem, 6.25rem + 2.5vi, 8.25rem);
  --fluid-18-80: clamp(1.125rem, -0.1667rem + 6.4583vi, 5rem);
  --fluid-0-18: clamp(0rem, -0.3913rem + 1.9565vi, 1.125rem);

  /* one-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1875rem + 0.625vi, 0.6875rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3958rem + 0.8333vi, 1.0625rem);
  --space-xs-s: clamp(0.875rem, 0.7083rem + 0.8333vi, 1.375rem);
  --space-s-m: clamp(1.125rem, 0.8125rem + 1.5625vi, 2.0625rem);
  --space-m-l: clamp(1.6875rem, 1.3333rem + 1.7708vi, 2.75rem);
  --space-l-xl: clamp(2.25rem, 1.625rem + 3.125vi, 4.125rem);
  --space-xl-2xl: clamp(3.375rem, 2.6667rem + 3.5417vi, 5.5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.25rem + 6.25vi, 8.25rem);
  --space-3xl-4xl: clamp(7.5rem, 6.4565rem + 5.2174vi, 10.5rem);

  //  border radius
  --border-radius-sm: 0.25rem; // 4px
  --border-radius-md: 0.5rem; // 8px
  --border-radius-lg: 1rem; // 16px
  --border-radius-xl: 2rem; // 32px
  --border-radius-xxl: 3rem; // 48px

  // form elements
  --input-background: var(--color-white-30);
  --input-focus: var(--color-white-80);

  // box shadow
  --shadow-color: 0deg 0% 61%;

  // shadow medium
  --shadow-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

  // shadow high
  --shadow-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
