:root {
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  // FONT SIZES
  /* Step -2: 11.11px → 12.80px */
  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem); // font-xs-step-2

  /* Step -1: 13.33px → 16.00px */
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem); // font-s-step-1

  /* Step 0: 16.00px → 20.00px */
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem); // font-base-step-0

  /* Step 1: 19.20px → 25.00px */
  --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem); // font-m-step-1

  /* Step 2: 23.04px → 31.25px */
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem); // font-l-step-2

  /* Step 3: 27.65px → 39.06px */
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem); // font-xl-step-3

  /* Step 4: 33.18px → 48.83px */
  --step-4: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem); // font-2xl-step-4

  /* Step 5: 39.81px → 61.04px */
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem); // font-3xl-step-5

  ////////  SPACING  /////////

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);

  /* Space 2xs: 8px → 10px */
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);

  /* Space xs: 12px → 15px */
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);

  /* Space s: 16px → 20px */
  --space-s: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);

  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);

  /* Space l: 32px → 40px */
  --space-l: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);

  /* Space xl: 48px → 60px */
  --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);

  /* Space 2xl: 64px → 80px */
  --space-2xl: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);

  /* Space 3xl: 96px → 120px */
  --space-3xl: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 10px */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);

  /* Space 2xs-xs: 8px → 15px */
  --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.76vw), 0.94rem);

  /* Space xs-s: 12px → 20px */
  --space-xs-s: clamp(0.75rem, calc(0.58rem + 0.87vw), 1.25rem);

  /* Space s-m: 16px → 30px */
  --space-s-m: clamp(1rem, calc(0.7rem + 1.52vw), 1.88rem);

  /* Space m-l: 24px → 40px */
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);

  /* Space l-xl: 32px → 60px */
  --space-l-xl: clamp(2rem, calc(1.39rem + 3.04vw), 3.75rem);

  /* Space xl-2xl: 48px → 80px */
  --space-xl-2xl: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);

  /* Space 2xl-3xl: 64px → 120px */
  --space-2xl-3xl: clamp(4rem, calc(2.78rem + 6.09vw), 7.5rem);

  /* Custom pairs */
  /* Space s-l: 16px → 40px */
  --space-s-l: clamp(1rem, calc(0.48rem + 2.61vw), 2.5rem);

  // Border Radius Values //
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;

  /// COLOURS ///

  --clr-error: hsl(7, 100%, 68%);

  // Dark Theme Colours
  --clr-dark-purple: hsl(269, 33%, 12%); // 269, 33%, 12%
  --clr-grey: hsl(264, 13%, 30%); // 0, 0%, 16%
  --clr-white: hsl(0 0% 89%); // 0 0% 89%
  --clr-green: hsl(171, 77%, 64%);
  --clr-lilac: hsl(266, 22%, 21%);
  --clr-dark-green-bg: hsl(176, 69%, 20%);
  --clr-dark-green-bg-hvr: hsl(165, 68%, 17%);

  // Dark Theme Form Styling
  --input-background-dark: var(--clr-dark-purple);
  --input-grey-dark: var(--clr-grey);
  --input-focus-h-dark: 264;
  --input-focus-s-dark: 13%;
  --input-focus-l-dark: 80%;

  // Dark Theme Variables
  --clr-bg-dark: var(--clr-dark-purple);
  --clr-bg-header-dark: var(--clr-dark-purple);
  --clr-bg-footer-dark: var(--clr-dark-purple);
  --clr-secondary-dark: var(--clr-lilac);
  --clr-primary-font-dark: var(--clr-white);
  --clr-links-dark: var(--clr-green);
  --clr-underline-dark: var(--clr-green);
  --clr-btn-bg-dark: var(--clr-green);
  --clr-filter-bg-dark: var(--clr-dark-green-bg);
  --clr-filter-bg-hvr-dark: var(--clr-dark-green-bg-hvr);

  // Light Theme Colours
  --clr-light-purple: #fefefe;
  --clr-light-grey: hsl(0, 0%, 98%); // 0, 0%, 98%
  --clr-light-green: hsl(165, 68%, 17%);
  --clr-light-lilac: hsl(269, 33%, 12%);
  --clr-light-green-bg: hsl(165, 68%, 17%);
  --clr-light-green-bg-hvr: hsl(165, 68%, 63%);
  --clr-light-grey-bg: hsl(0, 0%, 98%);
  --clr-light-grey-bg-hvr: hsl(0, 0%, 95%);

  // Light Theme Form Styling
  --input-background-light: var(--clr-light-purple);
  --input-grey-light: var(--clr-light-grey);
  --input-focus-h-light: 0;
  --input-focus-s-light: 0%;
  --input-focus-l-light: 95%;
  --input-focus-border-light: var(--clr-light-green-bg);

  // Light Theme Variables
  --clr-bg-light: hsl(0, 0%, 99%);
  --clr-bg-header-light: var(--clr-dark-purple);
  --clr-bg-footer-light: var(--clr-dark-purple);
  --clr-mark-hdr-light: var(--clr-white);
  --clr-secondary-light: hsl(165, 68%, 17%);
  --clr-primary-font-light: #535e6b;
  --clr-links-light: var(--clr-green);
  --clr-underline-light: hsl(165, 68%, 17%);
  --clr-btn-bg-light: hsl(165, 68%, 63%);
  --clr-filter-bg-light: var(--clr-dark-green-bg);
  --clr-filter-bg-hvr-light: var(--clr-dark-green-bg-hvr);
}
