@use "./variables.scss" as *;
@use "./utilities.scss" as *;
@use "./reset.css" as *;
@use "./elements.scss" as *;

@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/variable/OpenSans-VariableFont_wght.woff2")
    format("woff2");
  font-variation-settings: "wght" 400 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/static/Ubuntu-400.woff2") format("woff2"),
    url("/assets/fonts/static/Ubuntu-700.woff2") format("woff2");
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  background: var(--color-secondary-500);
  color: var(--color-primary);
}

#main-content.opacity-01 {
  opacity: 0.01;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: var(--step-xl);
  max-width: 10ch;
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-2);
}

p {
  max-width: 60ch;
  color: var(--color-primary-80);
}

p.large {
  font-size: var(--step-1);
}

a {
  color: var(--color-accent-300);
  text-decoration: none;
}

// No scroll when nav is open
.no-scroll {
  overflow: hidden;
}

::selection {
  background: var(--color-accent-300);
  color: var(--color-secondary-500);
}
