---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="wrapper flow">
      <h1>Thanks for getting in touch</h1>
      <p>
        I've received your contact form and I'll get back to you soon. If you
        haven't received a reply after two days, check I haven't fallen into the
        spam.
      </p>

      <a href="/">Back to home page</a>
    </div>
  </section>
</BaseLayout>

<style>
  section {
    margin-top: 6rem;
  }
  div * {
    color: var(--color-white);
  }

  div a {
    color: var(--color-accent-300);
    display: inline-block;
    transition: font-weight 0.2s;
  }

  div a:hover {
    font-weight: 700;
  }

  div {
    background: var(--color-secondary-200);
  }

  .flow {
    --flow-space: 2em;
  }
</style>
