---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import FeaturedClient from "../components/FeaturedClient.astro";
import Testimonials from "../components/Testimonials.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";

const pageTitle =
  "walkonmars.design | Web Design & Development Services in Bristol, UK.";
---

<BaseLayout pageTitle={pageTitle}>
  <main id="main-content">
    <Hero />
    <Services />
    <FeaturedClient />
    <Testimonials />
    <AboutMe />
    <Contact />
  </main>
</BaseLayout>
