---

---

<section id="about-me">
  <div class="about flow wrapper">
    <div class="about__content">
      <div class="flow">
        <h2>About Me</h2>
        <p class="huge-5">
          I haven’t taken the typical route to becoming a freelance web
          designer.
        </p>
        <p>
          My background in music, screen printing, and running a creative
          business has shaped my approach to design and collaboration.
        </p>
        <p>
          I first explored web design while running a sustainable printing
          business, creating websites to promote local artists and their work.
        </p>
      </div>
      <div class="more-text flow">
        <p>
          This experience gave me a strong eye for detail, colour, and design,
          along with a deep understanding of working closely with clients to
          bring their visions to life.
        </p>
        <p>
          Today, I focus on frontend development, user experience, and
          accessibility, while drawing on technical knowledge from backend
          development and software engineering training.
        </p>
        <p>
          Alongside web design, I run an online t-shirt design business, which
          keeps me connected to creative industries and sharpens my skills in
          ecommerce and branding.
        </p>
        <p>
          I believe in building websites that reflect your goals and values,
          whether you're an individual, small business, or nonprofit.
        </p>
        <p>
          Based in Bristol, UK, I’ll work with you to create a site that’s
          tailored to your needs and budget, with a collaborative approach that
          makes you feel like we’re part of the same team.
        </p>
      </div>
      <button class="btn read-more">Read more</button>
      <button class="btn show-less">Show less</button>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }
  button.btn {
    color: var(--color-accent-500);
  }

  .about {
    margin-inline: auto;
    background: var(--color-bg-light);
  }

  .about__content {
    max-width: 65rem;
    margin-inline: auto;
  }
  .huge-5 {
    line-height: 1.2;
    max-width: 23ch;
  }
  .show-less {
    display: none;
    margin-top: 1em;
  }

  .read-more,
  .show-less {
    transition: font-weight 0.3s;
  }

  .read-more:hover,
  .show-less:hover {
    font-weight: 700;
  }

  .more-text {
    margin-top: 1em;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 0.5s,
      max-height 0.5s;
  }
  .more-text.visible {
    opacity: 1;
    max-height: 100rem;
  }
</style>

<script>
  // read more button
  const readMore = document.querySelector(".read-more") as HTMLButtonElement;
  const showLess = document.querySelector(".show-less") as HTMLButtonElement;
  const moreText = document.querySelector(".more-text");

  readMore.addEventListener("click", () => {
    moreText.classList.add("visible");
    readMore.style.display = "none";
    showLess.style.display = "block";
  });

  showLess.addEventListener("click", () => {
    moreText.classList.remove("visible");
    readMore.style.display = "block";
    showLess.style.display = "none";
  });
</script>
