---

---

<section id="about-me">
  <div class="about flow wrapper">
    <div class="about__content">
      <div class="flow">
        <h2>About Me</h2>
        <p class="huge-5">
          I haven’t taken the typical route to becoming a freelance web
          designer.
        </p>
        <p>My background is in music and screen printing.</p>
        <p>
          I first began designing websites in 2007, when I created two sites for
          the sustainable printing business that my wife and I ran together.
        </p>
      </div>
      <div class="more-text flow">
        <p>
          We worked with local artists, helping to promote them by printing
          their designs onto t-shirts, then selling at festivals, markets and
          online. I also ran a not-for-profit print studio in Bristol where
          artists could come and use the facilities to create their own work.
        </p>
        <p>
          In 2020, as we all went into lock-down, I took time to reflect on my
          work life and consider the aspects of it that brought me joy - I
          decided that my future lay in web design and development, as that had
          always really excited me. My passion for detail, colour and design,
          vital in printing, naturally crossed over into web design.
        </p>
        <p>
          Since 2020, along with gaining proficiency in frontend development, I
          have also completed a software engineering bootcamp. I continue to
          learn new methods and technologies, furthering and improving my skills
          to be able to offer a cross-section of website options to anyone
          looking for a bespoke, affordable and efficient website.
        </p>
        <p>
          Through my printing business, I experienced creating, not only a great
          product, but strong relationships with my clients and customers. These
          included Pieminister, Sustrans, Bristol Green Doors, Wildscreen
          Festival and Shambala Festival, as well as the team behind Bristol's
          bid for the European Green Capital award. To this end I am passionate
          about working ethically and am keen to work with clients involved in
          meaningful or purpose driven work.
        </p>
        <p>
          I am based in Bristol, UK and I'll work with you to create a website
          that is tailored to your needs and budget.
        </p>
      </div>
      <button class="btn read-more">Read more</button>
      <button class="btn show-less">Show less</button>
    </div>
  </div>
</section>

<style>
  button.btn {
    color: var(--color-accent-500);
  }

  .about {
    margin-inline: auto;
    background: var(--color-bg-light);
  }

  .about__content {
    max-width: 65rem;
    margin-inline: auto;
  }
  .huge-5 {
    line-height: 1.2;
    max-width: 23ch;
  }
  .show-less {
    display: none;
    margin-top: 1em;
  }

  .read-more,
  .show-less {
    transition: font-weight 0.3s;
  }

  .read-more:hover,
  .show-less:hover {
    font-weight: 700;
  }

  .more-text {
    margin-top: 1em;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 0.5s,
      max-height 0.5s;
  }
  .more-text.visible {
    opacity: 1;
    max-height: 100rem;
  }
</style>

<script>
  // read more button
  const readMore = document.querySelector(".read-more") as HTMLButtonElement;
  const showLess = document.querySelector(".show-less") as HTMLButtonElement;
  const moreText = document.querySelector(".more-text");

  readMore.addEventListener("click", () => {
    moreText.classList.add("visible");
    readMore.style.display = "none";
    showLess.style.display = "block";
  });

  showLess.addEventListener("click", () => {
    moreText.classList.remove("visible");
    readMore.style.display = "block";
    showLess.style.display = "none";
  });
</script>
