<button class="back-to-top" title="Back to top"
  ><span class="chevron">&#9650;</span></button
>

<style>
  .back-to-top {
    opacity: 0;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-accent-400);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition:
      background 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .back-to-top:hover {
    background: var(--color-accent-300);
    transform: scale(1.04);
  }

  .back-to-top.show {
    opacity: 1;
  }

  .chevron {
    color: var(--color-secondary-500);
  }
</style>

<script>
  // Scroll to Top //

  const backToTopButton = document.querySelector(".back-to-top");

  if (backToTopButton !== null) {
    backToTopButton.addEventListener("click", scrollToTop);

    window.addEventListener("scroll", () => {
      if (window.scrollY > 500) {
        backToTopButton.classList.add("show");
      } else {
        backToTopButton.classList.remove("show");
      }
    });
  }
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
</script>
