---
---

<section>
  <div class="container" id="contact">
    <h2>Get in touch</h2>
    <div>
      <img src="/assets/images/mark.png" alt="mark" width="100" height="100" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        consequuntur blanditiis hic. Dicta, voluptatum cupiditate! Enim animi
        distinctio officiis non? Nobis earum odit numquam deserunt sunt facere,
        possimus quia officia?
      </p>
      <a href="#">Let's Go</a>
    </div>
  </div>

  <p>Or, if you’d like a quick face to face chat, make an appointment below.</p>
  <div>
    <a href="#">Book an appointment</a>
  </div>
</section>
