---
// import Calendar from "./Calendar.astro";
import CallBtn from "./CallBtn.astro";
import ContactForm from "./ContactForm.astro";
---

<section id="contact">
  <div class="contact wrapper">
    <div class="contact-section grid">
      <div class="flex column flow">
        <div class="contact__header flex align-center">
          <h2>Get in touch</h2>
          <img
            src="/assets/images/mark.png"
            alt="mark"
            width="100"
            height="100"
          />
        </div>
        <p>
          I would love to hear about your project and how I could help. Please
          fill in the form, and I’ll get back to you as soon as possible.
        </p>
        <p>
          Or, if you’d like a quick face to face chat, make an appointment
          below.
        </p>
        <CallBtn />
        <p>
          email me directly
          <a href="mailto:mark@walkonmars.co.uk"
            >&#109;&#97;&#114;&#107;&#64;&#119;&#97;&#108;&#107;&#111;&#110;&#109;&#97;&#114;&#115;&#46;&#99;&#111;&#46;&#117;&#107;</a
          >
        </p>
      </div>
      <ContactForm />
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }

  button.contact__go {
    font-weight: 700;
    color: var(--color-primary);
    background: var(--color-secondary-500);
    padding: 0.5em 1.75em;
    border-radius: var(--border-radius-sm);
  }

  a {
    color: var(--color-accent-300);
  }

  .flow {
    --flow-space: 0.5em;
  }
  .contact {
    /* padding-block: var(--space-3xl); */
    background: var(--color-secondary-200);
  }

  .contact * :not(a) {
    color: var(--color-white);
  }
  .grid {
    gap: var(--space-l);
  }

  .flex.column {
    height: 100%;
  }

  .contact-section {
    max-width: 65rem;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
</style>
