---
import projectData from "../data/client-data.json";
const { id } = projectData[0];
---

<a href={`/client-detail/${id}`}>Find out more</a>

<style>
  a {
    display: inline-block;
    align-self: start;
    font-weight: 700;
    background: var(--color-accent-400);
    color: var(--color-secondary-500);
    padding: 0.5em 1.75em;
    border-radius: var(--border-radius-sm);
    font-size: var(--step--1);
    margin-bottom: var(--space-m);
  }

  a:hover {
    background: var(--color-accent-300);
  }
</style>
