---
import projectData from "../data/project-data.json";
import FeaturedBtn from "./FeaturedBtn.astro";

const { title, excerpt } = projectData[0];
---

<section>
  <div class="wrapper">
    <div class="featured">
      <h2 class="">Featured project</h2>
      <div class="featured__content">
        <div class="featured__content-text flow">
          <h3>{title}</h3>
          <p>
            {excerpt}
          </p>
          <FeaturedBtn />
        </div>
        <img src="/assets/images/tim-ondrian.webp" alt="temp" />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }

  p {
    margin-bottom: 1em;
  }
  img {
    box-shadow: var(--shadow-medium);
    /* border-radius: var(--border-radius-lg); */
    object-fit: cover;
  }

  .wrapper {
    background: var(--color-bg-light);
  }

  .featured {
    max-width: 65rem;
    margin-inline: auto;
  }
  .featured__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: var(--space-l);
  }

  .featured__content-text {
    padding-right: var(--space-m);
    padding-top: var(--space-m);
  }

  @media (min-width: 768px) {
    .wrapper {
      padding: var(--space-3xl) var(--space-xl);
    }
  }
</style>
