---
import projectData from "../data/project-data.json";
import FeaturedBtn from "./FeaturedBtn.astro";

const { id, title } = projectData[0];
---

<section>
  <div class="wrapper">
    <div class="featured">
      <h2 class="">Featured project</h2>
      <div class="featured__content">
        <div class="featured__content-text flow">
          <h3>{title}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde
            blanditiis soluta magni non ducimus velit ad ea omnis doloribus
            aliquam, aspernatur minima fugit sint ullam fuga! Corporis, fuga
            iure?
          </p>
          <FeaturedBtn />
        </div>
        <picture
          ><img src="/assets/images/tm-collage.webp" alt="temp" /></picture
        >
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }

  img {
    box-shadow: var(--shadow-high);
    border: 1px solid var(--color-secondary-500);
    object-fit: cover;
  }

  .wrapper {
    background: var(--color-bg-light);
  }

  .featured {
    max-width: 65rem;
    margin-inline: auto;
  }
  .featured__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: var(--space-l);
  }

  .featured__content-text {
    padding-right: var(--space-m);
    padding-top: var(--space-m);
  }

  @media (min-width: 768px) {
    .wrapper {
      padding: var(--space-3xl) var(--space-xl);
    }
  }
</style>
