---
import projectData from "../data/client-data.json";

const { id, title } = projectData[0];
---

<section>
  <div class="wrapper">
    <div class="featured">
      <h2 class="">Featured client</h2>
      <div class="featured__content">
        <div class="featured__content-text flow">
          <h3>{title}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde
            blanditiis soluta magni non ducimus velit ad ea omnis doloribus
            aliquam, aspernatur minima fugit sint ullam fuga! Corporis, fuga
            iure?
          </p>
          <a href={`/client-detail/${id}`}>Find out more</a>
        </div>
        <picture><img src="/assets/images/tim-temp-1.png" alt="temp" /></picture
        >
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }
  a {
    display: block;
  }

  img {
    width: 100%;
  }

  .wrapper {
    background: var(--color-bg-light);
    padding-block: var(--space-xl);
  }

  @media (min-width: 768px) {
    .wrapper {
      padding: var(--space-3xl) var(--space-xl);
    }
  }

  .featured {
    max-width: 65rem;
    margin-inline: auto;
  }
  .featured__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: var(--space-l);
  }

  .featured__content-text {
    padding-right: var(--space-m);
    padding-top: var(--space-m);
  }
</style>
