---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---

<footer class="flex justify-center align-center space-xl-2xl">
  <p>MarkLawson <span>&copy; {year}</span></p>
  <div class="social-links">
    <Social platform="linkedin" username="in/mark-lawson-001/" />
    <Social platform="github" username="walkonmars36" />
  </div>
</footer>

<style lang="scss">
  footer {
    border-top: 1px solid var(--clr-secondary);
    padding: var(--space-xl) 0;
    flex-direction: column;
    background-color: var(--clr-bg-footer);
  }

  p {
    font-size: var(--step-2);
  }

  :global(.light) p {
    color: var(--clr-white);
  }

  span {
    font-size: var(--step--2);
  }

  @media (min-width: 40rem) {
    footer {
      flex-direction: row;
      --gap: var(--space-l);
    }

    .social-links {
      align-self: flex-end;
      line-height: 1;
    }
  }
</style>
