---
const year = new Date().getFullYear();
---

<footer class="wrapper">
  <div>
    <p>Mark Lawson <span>&copy; {year}</span></p>
  </div>
</footer>

<style>
  p {
    color: var(--color-white);
  }
</style>
