---
import Navigation from "./Navigation.astro";
import NavToggle from "./NavToggle.astro";
---

<header>
  <div class="">
    <a class="" href="/">walkonmars.design</a>
    <nav>
      <Navigation />
    </nav>
    <NavToggle />
  </div>
</header>

<style></style>
