---
import Navigation from "./Navigation.astro";
import NavToggle from "./NavToggle.astro";
---

<header class="wrapper">
  <div class="header-content">
    <a class="" href="/">walkonmars.design</a>
    <nav transition:persist>
      <Navigation  />
    </nav>
    <NavToggle />
  </div>
</header>

<style>
  .header-content {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-s);
    padding-block: var(--space-m-l);

    z-index: 200;
  }
</style>
