---
import HeroBtn from "../components/HeroBtn.astro";
---

<section>
  <div class="wrapper">
    <span class="h3 bold">Hi, I'm Mark</span>
    <h1>I design and develop websites</h1>

    <HeroBtn />
    <h2 class="h3">I can help you with ...</h2>
  </div>
</section>

<style>
  section * {
    color: var(--color-white);
  }

  section {
    margin-top: var(--space-3xl);
  }

  div {
    background: var(--color-secondary-200);
  }

  h1 {
    max-width: 16ch;
  }

  h2 {
    margin-top: var(--space-l);
  }
</style>
