---
import HeroBtn from "../components/HeroBtn.astro";
---

<section>
  <div class="hero wrapper">
    <span class="h3 bold">Hi, I'm Mark</span>
    <h1>I design and develop websites</h1>

    <HeroBtn />
  </div>
</section>

<style>
  h2 {
    margin-top: var(--space-m);
    display: flex;
    flex-direction: column;
    height: 3.75rem;
  }
  #typewriter {
    margin-left: 0;
  }

  section * {
    color: var(--color-white);
  }

  section {
    margin-top: 6rem;
  }

  div {
    background: var(--color-secondary-200);
  }

  h1 {
    max-width: 16ch;
  }

  @media (min-width: 768px) {
    h2 {
      flex-direction: row;
      height: initial;
    }
    #typewriter {
      margin-left: var(--space-xs);
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const words = [
      "Webflow",
      "Wordpress",
      "Shopify",
      "SEO",
      "UX / UI Design",
      "Custom Code",
    ];
    let el = document.getElementById("typewriter");

    let sleepTime = 100;
    let curWordIndex = 0;

    function writeLoop() {
      if (!el) {
        return;
      }

      let curWord = words[curWordIndex % words.length];
      let i = 0;

      function typeForward() {
        if (i <= curWord.length) {
          el.textContent = curWord.substring(0, i + 1);
          i++;
          setTimeout(typeForward, sleepTime);
        } else {
          setTimeout(typeBackward, sleepTime * 5);
        }
      }

      function typeBackward() {
        if (i >= 0) {
          el.textContent = curWord.substring(0, i - 1);
          i--;
          setTimeout(typeBackward, sleepTime);
        } else {
          curWordIndex = (curWordIndex + 1) % words.length;
          setTimeout(writeLoop, sleepTime * 5);
        }
      }

      typeForward();
    }

    writeLoop();
  });
</script>
