---

---

<a href="#contact">Get in touch</a>

<style>
  a {
    display: inline-block;
    font-weight: 700;
    background: var(--color-accent-400);
    color: var(--color-secondary-500);
    padding: 0.5em 1.75em;
    border-radius: var(--border-radius-sm);
    margin-top: var(--space-m-l);
    transition: transform 0.2s ease-in-out;
  }

  a:hover {
    background: var(--color-accent-300);
    transform: scale(1.03);
  }
</style>
