---
import HeroBtn from "../components/HeroBtn.astro";
---

<section>
  <div class="hero wrapper-np">
    <div class="hero__content">
      <span>Hi, I’m Mark</span>
      <h1>
        A Web Designer / Developer <span>based in Bristol UK.</span>
      </h1>
      <p>
        I can help you with ... <span class="typewriter"> </span>
      </p>
      <HeroBtn />
    </div>
    <div class="hero__image-wrap">
      <img
        src="/assets/images/mark-hero-large.webp"
        alt="Bristol based web designer and developer Mark Lawson"
      />
    </div>
  </div>
</section>

<style>
  .hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--space-m);
    align-items: stretch;
    overflow: hidden;
  }

  .hero__content {
    padding: var(--fluid-18-80);
    padding-right: 0;
    align-self: center;
  }
  .hero__image-wrap {
    aspect-ratio: 4/5;
    width: 100%;
    max-width: 32rem;
    justify-self: end;
  }

  img {
    width: 100%;
    height: 100%;
  }
  /* //////////////////////////////// */

  h1 {
    margin: 0.5rem 0;
  }
  h1 span {
    color: #bbbcbf;
  }
  .typewriter {
    margin-left: 0;
  }

  section * {
    color: var(--color-white);
  }

  section {
    margin-top: 6rem;
  }

  div {
    background: var(--color-secondary-200);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const words = [
      "Webflow",
      "Shopify",
      "Custom Code",
      "SEO",
      "UX / UI Design",
    ];
    let el = document.querySelector(".typewriter");

    let sleepTime = 100;
    let curWordIndex = 0;

    function writeLoop() {
      if (!el) {
        return;
      }

      let curWord = words[curWordIndex % words.length];
      let i = 0;

      function typeForward() {
        if (i <= curWord.length) {
          el.textContent = curWord.substring(0, i + 1);
          i++;
          setTimeout(typeForward, sleepTime);
        } else {
          setTimeout(typeBackward, sleepTime * 5);
        }
      }

      function typeBackward() {
        if (i >= 0) {
          el.textContent = curWord.substring(0, i - 1);
          i--;
          setTimeout(typeBackward, sleepTime);
        } else {
          curWordIndex = (curWordIndex + 1) % words.length;
          setTimeout(writeLoop, sleepTime * 5);
        }
      }

      typeForward();
    }

    writeLoop();
  });
</script>
