---
import HeroBtn from "../components/HeroBtn.astro";
---

<section>
  <div class="hero wrapper-np">
    <div class="hero__content">
      <span>Hi, I’m Mark</span>
      <h1>
        A Web Designer / Developer <span>based in Bristol UK.</span>
      </h1>
      <p>
        I can help you with ... <span class="typewriter"> </span>
      </p>
      <HeroBtn />
    </div>
    <div class="hero__image-wrap">
      <img
        src="/assets/images/mark-hero-large.webp"
        alt="Bristol based web designer and developer Mark Lawson"
      />
    </div>
  </div>
</section>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    overflow: hidden;
  }

  .hero__content {
    padding: var(--space-xl) var(--fluid-18-80);
  }

  h1 {
    margin: 0.5rem 0;
  }
  h1 span {
    color: #a9afbc;
  }
  .typewriter {
    margin-left: 0;
  }

  section * {
    color: var(--color-white);
  }

  section {
    margin-top: 6rem;
  }

  div {
    background: var(--color-secondary-200);
  }

  h1 {
    max-width: 16ch;
  }

  @media (min-width: 992px) {
    .hero {
      grid-template-columns: 40rem 1fr;
    }

    .hero__content {
      padding: 0 0;
      padding-left: var(--fluid-18-80);
    }

    .hero__image-wrap {
      max-width: 33.75rem;
      justify-self: end;
    }

    .typewriter {
      margin-left: 0.25rem;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const words = [
      "Webflow",
      "Shopify",
      "Custom Code",
      "SEO",
      "UX / UI Design",
    ];
    let el = document.querySelector(".typewriter");

    let sleepTime = 100;
    let curWordIndex = 0;

    function writeLoop() {
      if (!el) {
        return;
      }

      let curWord = words[curWordIndex % words.length];
      let i = 0;

      function typeForward() {
        if (i <= curWord.length) {
          el.textContent = curWord.substring(0, i + 1);
          i++;
          setTimeout(typeForward, sleepTime);
        } else {
          setTimeout(typeBackward, sleepTime * 5);
        }
      }

      function typeBackward() {
        if (i >= 0) {
          el.textContent = curWord.substring(0, i - 1);
          i--;
          setTimeout(typeBackward, sleepTime);
        } else {
          curWordIndex = (curWordIndex + 1) % words.length;
          setTimeout(writeLoop, sleepTime * 5);
        }
      }

      typeForward();
    }

    writeLoop();
  });
</script>
