---
---

<a class="hire-me" href="#contact">Hire Me</a>

<style>
  .hire-me {
    display: inline-block;
    font-weight: 700;
    color: var(--color-secondary-500);
    background: var(--color-accent-400);
    padding: 0.5em 1.75em;
    border-radius: var(--border-radius-sm);
    margin-top: var(--space-m-l);
  }
</style>
