---

---

<ul class="primary-navigation">
  <li><a href="/">Home</a></li>
  <li><a href="https://wom-design.netlify.app/#services">Services</a></li>
  <li><a href="/clients">Clients</a></li>
  <li>
    <a href="https://wom-design.netlify.app/#testimonials">Testimonials</a>
  </li>
  <li><a href="https://wom-design.netlify.app/#about-me">About me</a></li>
  <li><a href="https://wom-design.netlify.app/#contact">Get in touch</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  a {
    color: var(--color-white);
    font-family: var(--ff-secondary);
    font-size: var(--step--1);
    letter-spacing: 0.03em;
  }

  a:hover {
    color: var(--color-accent-400);
  }
  ul li:nth-of-type(1) {
    margin-left: auto;
  }
  ul li:nth-of-type(6) {
    margin-left: auto;
    background: var(--color-accent-400);
    border-radius: var(--border-radius-md) var(--border-radius-xxl)
      var(--border-radius-xxl) var(--border-radius-md);
    overflow: hidden;
  }

  ul li:nth-of-type(6) a {
    color: inherit;
    font-weight: 700;
    display: block;
    height: 100%;
    width: 100%;
    padding: var(--space-xs);
  }

  ul li:nth-of-type(6) a:hover {
    background: var(--color-accent-300);
  }

  .primary-navigation.visible {
    opacity: 1;
  }
</style>

<script>
  const anchors = document.querySelectorAll(".primary-navigation a");

  // Event listener for the navigation links
  anchors.forEach((anchor) => {
    anchor.addEventListener("click", function () {
      // Navigate to the target page
      window.location.href = this.getAttribute("href");
    });
  });

  // document.addEventListener("astro:page-load", () => {
  //   document
  //     .querySelectorAll('.primary-navigation a[href^="/"]')
  //     .forEach((anchor) => {
  //       anchor.addEventListener("click", function (e) {
  //         e.preventDefault();

  //         // Check if it's an in-page link or a different page
  //         if (this.getAttribute("href").startsWith("/")) {
  //           // Remove the leading "/" from the href value
  //           const targetId = this.getAttribute("href").substring(1);

  //           // Check if it's an in-page link
  //           if (this.getAttribute("href").startsWith("/#")) {
  //             // Check if the target element exists
  //             const targetElement = document.querySelector(targetId);
  //             if (targetElement) {
  //               // Scroll to the target element
  //               targetElement.scrollIntoView({
  //                 behavior: "smooth",
  //               });
  //             } else {
  //               // Navigate to the target page
  //               window.location.href = this.getAttribute("href");
  //             }
  //           } else {
  //             // Navigate to the target page
  //             window.location.href = this.getAttribute("href");
  //           }
  //         }
  //       });
  //     });
  // });
</script>
