---

---

<ul class="primary-navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/#services">Services</a></li>
  <li><a href="/projects">Projects</a></li>
  <li>
    <a href="/#testimonials">Testimonials</a>
  </li>
  <li><a href="/#about-me">About me</a></li>
  <li><a href="/#contact">Get in touch</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  a {
    color: var(--color-white);
    font-family: var(--ff-secondary);
    font-size: var(--step--1);
    letter-spacing: 0.03em;
    position: relative;
    font-weight: 500;
  }
  a:hover {
    color: var(--color-accent-300);
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--color-white);
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }

  a.underline::after {
    width: 100%;
  }
  ul li:nth-of-type(1) {
    margin-left: auto;
  }
  ul li:nth-of-type(6) {
    margin-left: auto;
    background: var(--color-accent-400);
    border-radius: var(--border-radius-md) var(--border-radius-xxl)
      var(--border-radius-xxl) var(--border-radius-md);
    overflow: hidden;
  }

  ul li:nth-of-type(6) a {
    color: inherit;
    font-weight: 600;
    display: block;
    height: 100%;
    width: 100%;
    padding: var(--space-xs);
  }

  ul li:nth-of-type(6) a:hover {
    background: var(--color-accent-300);
  }
</style>

<script>
  const links = document.querySelectorAll(
    ".primary-navigation li:not(:last-of-type) a"
  );
  links.forEach(function (link) {
    link.addEventListener("mouseenter", function () {
      this.classList.add("underline");
    });
    link.addEventListener("mouseleave", function () {
      this.classList.remove("underline");
    });
  });
</script>
