---
---

<button
  class="nav-toggle"
  aria-controls="primary-navigation"
  aria-label="Open Menu"
  aria-expanded="false"
>
</button>

<style>
  .nav-toggle {
    background: transparent;
    background-image: url(/assets/icons/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: var(--step-2);
    aspect-ratio: 1/1;
    border: 0;
    cursor: pointer;
    z-index: 2;
  }

  .nav-toggle[aria-expanded="true"] {
    background-image: url(/assets/icons/icon-close.svg);
    z-index: 200;
  }
</style>
