---

---

<button
  class="nav-toggle"
  aria-controls="primary-navigation"
  aria-label="Open Menu"
  aria-expanded="false"
>
  <svg
    fill="var(--hamburger-color)"
    class="hamburger"
    viewBox="0 0 100 100"
    width="60"
  >
    <rect class="line top" width="50" height="8" x="25" y="27" rx="5"> </rect>
    <rect class="line middle" width="50" height="8" x="25" y="45" rx="5">
    </rect>
    <rect class="line bottom" width="50" height="8" x="25" y="63" rx="5">
    </rect>
  </svg>
</button>

<style>
  button {
    background: var(--color-accent-400);
    border: none;
    display: grid;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .nav-toggle {
    z-index: 100;
  }

  .nav-toggle .line {
    transition:
      transform 200ms ease-in,
      opacity 0ms 200ms;
    transform-origin: center;
  }

  .nav-toggle[aria-expanded="true"] .middle {
    transition:
      transform 200ms ease-out,
      opacity 200ms ease-out;
    transform: translateX(100%);
    opacity: 0;
  }

  .nav-toggle[aria-expanded="true"] .top {
    transform: translateY(10%) rotate(45deg);
  }

  .nav-toggle[aria-expanded="true"] .bottom {
    transform: translateY(-15%) rotate(-45deg);
  }

  @media (min-width: 992px) {
    .nav-toggle {
      display: none;
    }
  }
</style>
