---
---

<div class="platform__wordpress">
  <div>
    <img
      src="/assets/images/ellipse.png"
      alt="temp"
      width="44"
      height="44"
    /><h3>Wordpress</h3>
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
    cumque, blanditiis itaque dolor repudiandae assumenda dolores tempore quo
    enim quis. Vitae velit ad beatae explicabo id pariatur. Ut, vero illo.
  </p>
  <a href="#" class="btn">Find out more</a>
</div>

<div class="platform__webflow">
  <div>
    <img
      src="/assets/images/ellipse.png"
      alt="temp"
      width="44"
      height="44"
    /><h3>Webflow</h3>
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
    cumque, blanditiis itaque dolor repudiandae assumenda dolores tempore quo
    enim quis. Vitae velit ad beatae explicabo id pariatur. Ut, vero illo.
  </p>
  <a href="#" class="btn">Find out more</a>
</div>

<div class="platform__shopify">
  <div>
    <img
      src="/assets/images/ellipse.png"
      alt="temp"
      width="44"
      height="44"
    /><h3>Shopify</h3>
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
    cumque, blanditiis itaque dolor repudiandae assumenda dolores tempore quo
    enim quis. Vitae velit ad beatae explicabo id pariatur. Ut, vero illo.
  </p>
  <a href="#" class="btn">Find out more</a>
</div>
