---
---

<div class="platform__wordpress wrapper padding-block-m">
  <div>
    <div class="flex">
      <img
        src="/assets/images/ellipse.png"
        alt="temp"
        width="44"
        height="44"
      /><h3>Wordpress</h3>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      cumque, blanditiis.
    </p>
    <a href="#" class="btn">Find out more</a>
  </div>
</div>

<div class="platform__webflow wrapper padding-block-m">
  <div>
    <div class="flex">
      <img
        src="/assets/images/ellipse.png"
        alt="temp"
        width="44"
        height="44"
      /><h3>Webflow</h3>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      cumque, blanditiis.
    </p>
    <a href="#" class="btn">Find out more</a>
  </div>
</div>

<div class="platform__shopify wrapper padding-block-m">
  <div>
    <div class="flex">
      <img
        src="/assets/images/ellipse.png"
        alt="temp"
        width="44"
        height="44"
      /><h3>Shopify</h3>
    </div>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      cumque, blanditiis.
    </p>
    <a href="#" class="btn">Find out more</a>
  </div>
</div>

<style>
  p {
    margin-top: var(--space-s);
  }

  .platform__webflow {
    border-left: 1px solid var(--color-primary-30);
    border-right: 1px solid var(--color-primary-30);
  }
</style>
