---

---

<section id="services">
  <div class="wrapper">
    <h2>Services</h2>

    <div class="services grid">
      <div class="flow">
        <h3>UX/UI Design</h3>
        <p>
          Designing user interfaces and experiences that are intuitive, easy to
          use, and visually appealing.
        </p>
      </div>
      <div class="flow">
        <h3>WordPress Development</h3>
        <p>
          Building custom WordPress themes and plugins that are easy to manage
          and update.
        </p>
      </div>
      <div class="flow">
        <h3>Webflow Development</h3>
        <p>
          Building custom websites using Webflow, a powerful and flexible design
          tool.
        </p>
      </div>
      <div class="flow">
        <h3>Shopify Development</h3>
        <p>
          Building custom Shopify themes and apps that are easy to manage and
          update.
        </p>
      </div>
      <div class="flow">
        <h3>Frontend Development</h3>
        <p>
          Building custom websites and web applications using modern frontend
          technologies.
        </p>
        <span>Find out more on my dedicated dev site</span>
        <a href="#">walkonmars.dev</a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }

  p {
    max-width: 30ch;
  }

  .wrapper {
    background: var(--color-bg-light);
  }

  .services {
    gap: var(--space-l);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-top: var(--space-xl);
  }

  .services div {
    background: var(--color-white-80);
    border-radius: var(--border-radius-xl);
    padding: var(--space-s);
    box-shadow: var(--shadow-medium);
  }

  .flow {
    --flow-space: var(--space-2xs);
  }
</style>
