---
---

<section class="services container" id="services">
  <div>
    <h2>Client Services</h2>

    <div class="ux-ui-design">
      <h3>UX/UI Design</h3>
      <p>
        Designing user interfaces and experiences that are intuitive, easy to
        use, and visually appealing.
      </p>
    </div>
    <div class="wordpress-dev">
      <h3>WordPress Development</h3>
      <p>
        Building custom WordPress themes and plugins that are easy to manage and
        update.
      </p>
    </div>
    <div class="webflow-dev">
      <h3>Webflow Development</h3>
      <p>
        Building custom websites using Webflow, a powerful and flexible design
        tool.
      </p>
    </div>
    <div class="shopify-dev">
      <h3>Shopify Development</h3>
      <p>
        Building custom Shopify themes and apps that are easy to manage and
        update.
      </p>
    </div>
    <div class="frontend-dev">
      <h3>Frontend Development</h3>
      <p>
        Building custom websites and web applications using modern frontend
        technologies.
      </p>
      <span>Find out more on my dedicated dev site</span>
      <a href="#">walkonmars.dev</a>
    </div>
  </div>
</section>
