---
import { Code } from "astro:components";
---

<section id="services">
  <div class="wrapper">
    <h2>Services</h2>

    <div class="services grid">
      <div class="flow wdn">
        <h3>Web Design</h3>
        <p>
          I create designs in Figma with a focus on user experience and
          accessibility, aiming for an intuitive and inclusive experience for
          all users. This phase is also an opportunity to explore and present
          different design options before the site goes on to be developed.
        </p>
      </div>
      <div class="flow wfw">
        <h3>Webflow development</h3>
        <p>
          Crafting websites with Webflow’s powerful visual development platform,
          combining creative design freedom with seamless performance. This
          approach ensures top-tier hosting, effortless client management, and a
          flawless user experience across all devices.
        </p>
      </div>

      <div class="flow shp">
        <h3>Shopify</h3>
        <p>
          With firsthand experience running my own e-commerce store, I can help
          you build a Shopify store that’s easy to manage and tailored to your
          needs.
        </p>
      </div>
      <div class="flow wp">
        <h3>WordPress development</h3>
        <p>
          If you have an existing WordPress site, I can help with custom coding
          and building tailored solutions. While I’ve built sites from scratch
          using Oxygen and Elementor, I am now focusing on Webflow, which offers
          a more user-friendly experience, making site management simpler and
          more intuitive.
        </p>
      </div>
      <div class="flow fed">
        <h3>Frontend Development</h3>
        <p>
          While I primarily focus on platforms like Webflow, Shopify, and
          WordPress, I’m also skilled in coding from scratch with HTML, CSS, and
          JavaScript. I’ve worked on projects using dynamic frontend frameworks
          like ReactJS and Astro and can offer versatile solutions tailored to
          your needs.
        </p>
      </div>
      <div class="flow seo">
        <h3>SEO</h3>

        <p>
          By optimizing website structures and content, conducting technical SEO
          audits, and implementing on-page optimization strategies like keyword
          research and content optimization, I aim to improve search engine
          visibility and drive organic traffic.
        </p>
      </div>
    </div>

    <style>
      section {
        margin-top: var(--space-l);
      }

      .wrapper {
        background: var(--color-secondary-200);
        padding-top: var(--space-3xl);
        padding-bottom: var(--space-3xl);
      }

      h2 {
        margin-left: var(--space-m);
        color: var(--color-white-80);
      }

      .services {
        gap: var(--space-m);
        grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
        margin-top: var(--space-xl);
      }

      .services div {
        background: var(--color-white-80);
        border-radius: var(--border-radius-xl);
        padding: var(--space-xl) var(--space-m);
        box-shadow: var(--shadow-low);
      }

      .flow {
        --flow-space: var(--space-s);
      }

      @media (max-width: 600px) {
        .wrapper {
          padding: var(--space-xl) 0;
        }
      }
    </style>
  </div>
</section>
