---
---

<section class="container" id="testimonials">
  <img src="/assets/images/quote-mark.svg" aria-hidden="true" alt="" />

  <div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      commodi numquam nobis enim beatae earum modi eligendi saepe dignissimos
      vel sequi, doloremque obcaecati aut fuga distinctio vitae culpa? Atque,
      dolorem.
    </p>
  </div>
</section>
