---

---

<section class="wrapper" id="testimonials">
  <div class="testimonial">
    <picture class="inline"
      ><img
        src="/assets/images/quote-mark.svg"
        aria-hidden="true"
        alt=""
      /></picture
    >
    <div class="testimonial__text flow">
      <p>
        I have run my own small business for over 20 years. In that time I have
        probably worked with 4 or 5 web designers on different iterations of my
        site. Mark has been far and away the best I have ever worked with and I
        am really delighted with the results. Mark has a rare combination of
        qualities that make him in my view perfect for supporting solo / small
        business owners create websites that really fit their personalities and
        brand.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    padding-block: var(--space-3xl);
    display: grid;
    place-items: center;
  }

  img {
    width: var(--step-5);
  }

  button.btn {
    color: var(--color-accent-500);
  }
  .testimonial__text {
    background: var(--color-bg-light);
    margin: var(--space-m-l) 0;
    padding: var(--space-l);
    border-radius: var(--border-radius-lg);
  }

  .show-less {
    display: none;
  }

  .more-text {
    margin-top: 1em;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 0.5s,
      max-height 0.5s;
  }
  .more-text.visible {
    opacity: 1;
    max-height: 1000px;
  }
</style>
