---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";
import BackToTop from "../components/BackToTop.astro";
import { ViewTransitions } from "astro:transitions";

const { pageTitle, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/icons/favicon-16x16.png"
    />

    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <BackToTop />
    <Footer />
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
